body {
    background-color: darkgreen;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13;
}

form {
    background-color: maroon;
    color: aliceblue;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(248, 252, 248, 0.4);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

input {
    height: 30px;
    border-radius: 5px;
}

select {
    height: 30px;
    border-radius: 5px;
}

.btn_cls1 {
    background-color: rgb(11, 23, 80);
    color: aliceblue;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}

.btn_cls2 {
    background-color: rgb(11, 23, 80);
    color: aliceblue;
    height: 30px;
    width: 25%;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

td {
    width: 45%;
    color: antiquewhite;
    font-size: 13;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(239, 247, 241, 0.4);
    transition: 0.3s;
    border-radius: 5px;
    float: left;
    width: 20%;
    padding: 16px;
    color: rgb(8, 8, 8);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(239, 247, 241, 0.7);
    color: rgb(7, 6, 6);
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    background-color: aliceblue;
    padding: 10px;
}

a {
    color: white;
    text-decoration-line: None;
}

.button {
    border: none;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(11, 23, 80);
    color: aliceblue;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}