input {
    height: 30px;
    border-radius: 5px;
}

select {
    height: 30px;
    border-radius: 5px;
}

.btn_cls1 {
    background-color: rgb(11, 23, 80);
    color: aliceblue;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}

.text-clr-thm {
    color: rgb(0, 88, 57);
}

.btn_cls2 {
    background-color: rgb(11, 23, 80);
    color: aliceblue;
    height: 30px;
    width: 25%;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

.scroller {
    max-width: 300px;
    height: 100px;
    scroll-behavior: auto;
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-3dlight-color: rebeccapurple;
}

td {
    width: 45%;
    color: antiquewhite;
    font-size: 13;
}